USE [master]
GO
/****** Object:  Database [DBSilvestre]    Script Date: 18/11/2025 16:01:28 ******/
CREATE DATABASE [DBSilvestre]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSilvestre', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBSilvestre.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBSilvestre_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBSilvestre_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSilvestre].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSilvestre]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[IdAnimal] [int] IDENTITY(1,1) NOT NULL,
	[NomeIdentificacao] [varchar](100) NULL,
	[IdEspecie] [int] NOT NULL,
	[IdRecinto] [int] NOT NULL,
	[DataEntrada] [datetime] NOT NULL,
	[MotivoEntrada] [varchar](255) NOT NULL,
	[StatusAnimal] [varchar](100) NOT NULL,
	[DataSaida] [datetime] NULL,
	[Origem] [varchar](255) NULL,
	[Observacoes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especie]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especie](
	[IdEspecie] [int] IDENTITY(1,1) NOT NULL,
	[NomePopular] [varchar](100) NOT NULL,
	[NomeCientifico] [varchar](100) NOT NULL,
	[DietaPadrao] [varchar](500) NULL,
	[Observacoes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[IdFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [varchar](150) NOT NULL,
	[Cargo] [varchar](100) NOT NULL,
	[CRMV_CRBio] [varchar](50) NULL,
	[Telefone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalSoltura]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalSoltura](
	[IdLocalSoltura] [int] IDENTITY(1,1) NOT NULL,
	[NomeLocal] [varchar](150) NOT NULL,
	[Bioma] [varchar](100) NULL,
	[CoordenadasGPS] [varchar](50) NULL,
	[ResponsavelContato] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLocalSoltura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManejoClinico]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManejoClinico](
	[IdManejo] [int] IDENTITY(1,1) NOT NULL,
	[IdAnimal] [int] NOT NULL,
	[IdFuncionario] [int] NOT NULL,
	[DataHoraManejo] [datetime] NOT NULL,
	[PesoAferido] [decimal](10, 3) NULL,
	[DescricaoProcedimento] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdManejo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recinto]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recinto](
	[IdRecinto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRecinto] [varchar](50) NOT NULL,
	[TipoRecinto] [varchar](100) NOT NULL,
	[TamanhoM2] [decimal](10, 2) NULL,
	[CapacidadeMaxima] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecinto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/11/2025 16:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdFuncionario] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Senha] [varchar](100) NULL,
	[NivelAcesso] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Animal] ON 

INSERT [dbo].[Animal] ([IdAnimal], [NomeIdentificacao], [IdEspecie], [IdRecinto], [DataEntrada], [MotivoEntrada], [StatusAnimal], [DataSaida], [Origem], [Observacoes]) VALUES (2, N'Passaro', 4, 1, CAST(N'2025-11-12T21:33:24.947' AS DateTime), N'', N'Em Tratamento', NULL, N'', N'')
INSERT [dbo].[Animal] ([IdAnimal], [NomeIdentificacao], [IdEspecie], [IdRecinto], [DataEntrada], [MotivoEntrada], [StatusAnimal], [DataSaida], [Origem], [Observacoes]) VALUES (6, N'Casco', 4, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'Doença grave', N'Óbito', CAST(N'2023-05-01T00:00:00.000' AS DateTime), NULL, N'Chegou muito debilitado')
INSERT [dbo].[Animal] ([IdAnimal], [NomeIdentificacao], [IdEspecie], [IdRecinto], [DataEntrada], [MotivoEntrada], [StatusAnimal], [DataSaida], [Origem], [Observacoes]) VALUES (8, N'Lupin', 7, 1, CAST(N'2025-09-18T13:25:47.463' AS DateTime), N'Atropelamento', N'Em Tratamento', NULL, N'Rodovia', N'Fratura')
SET IDENTITY_INSERT [dbo].[Animal] OFF
GO
SET IDENTITY_INSERT [dbo].[Especie] ON 

INSERT [dbo].[Especie] ([IdEspecie], [NomePopular], [NomeCientifico], [DietaPadrao], [Observacoes]) VALUES (4, N'tucano', N'Ramphastos toco', N'Cenoura quente', N'')
INSERT [dbo].[Especie] ([IdEspecie], [NomePopular], [NomeCientifico], [DietaPadrao], [Observacoes]) VALUES (6, N'Passaro', N'passarus', N'', N'')
INSERT [dbo].[Especie] ([IdEspecie], [NomePopular], [NomeCientifico], [DietaPadrao], [Observacoes]) VALUES (7, N'Lobo-guará', N'Chrysocyon brachyurus', N'Onívoro (frutos e pequenos animais)', N'Ameaçado de extinção')
SET IDENTITY_INSERT [dbo].[Especie] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([IdFuncionario], [NomeCompleto], [Cargo], [CRMV_CRBio], [Telefone]) VALUES (1, N'Guilhreme Arenas', N'Biólogo Chefe xD', N'', N'')
INSERT [dbo].[Funcionario] ([IdFuncionario], [NomeCompleto], [Cargo], [CRMV_CRBio], [Telefone]) VALUES (3, N'Guilherme Arenas', N'Biologo CChefe', N'12312', N'17991987815')
INSERT [dbo].[Funcionario] ([IdFuncionario], [NomeCompleto], [Cargo], [CRMV_CRBio], [Telefone]) VALUES (4, N'guilherme arenas', N'biologo nao chefe', N'', N'')
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalSoltura] ON 

INSERT [dbo].[LocalSoltura] ([IdLocalSoltura], [NomeLocal], [Bioma], [CoordenadasGPS], [ResponsavelContato]) VALUES (1, N'Reserva Gavião', N'Cerrado', N'', N'João (62) 99999-1234')
SET IDENTITY_INSERT [dbo].[LocalSoltura] OFF
GO
SET IDENTITY_INSERT [dbo].[ManejoClinico] ON 

INSERT [dbo].[ManejoClinico] ([IdManejo], [IdAnimal], [IdFuncionario], [DataHoraManejo], [PesoAferido], [DescricaoProcedimento]) VALUES (4, 8, 5, CAST(N'2025-09-19T13:25:47.477' AS DateTime), CAST(22.500 AS Decimal(10, 3)), N'Entrada')
INSERT [dbo].[ManejoClinico] ([IdManejo], [IdAnimal], [IdFuncionario], [DataHoraManejo], [PesoAferido], [DescricaoProcedimento]) VALUES (5, 8, 5, CAST(N'2025-10-19T13:25:47.477' AS DateTime), CAST(24.000 AS Decimal(10, 3)), N'Melhora')
INSERT [dbo].[ManejoClinico] ([IdManejo], [IdAnimal], [IdFuncionario], [DataHoraManejo], [PesoAferido], [DescricaoProcedimento]) VALUES (6, 8, 5, CAST(N'2025-11-18T13:25:47.477' AS DateTime), CAST(26.500 AS Decimal(10, 3)), N'Saudável')
SET IDENTITY_INSERT [dbo].[ManejoClinico] OFF
GO
SET IDENTITY_INSERT [dbo].[Recinto] ON 

INSERT [dbo].[Recinto] ([IdRecinto], [CodigoRecinto], [TipoRecinto], [TamanhoM2], [CapacidadeMaxima]) VALUES (1, N'Q-01', N'Quarentena (Mamíferos)', CAST(10.00 AS Decimal(10, 2)), 5)
INSERT [dbo].[Recinto] ([IdRecinto], [CodigoRecinto], [TipoRecinto], [TamanhoM2], [CapacidadeMaxima]) VALUES (3, N'q-02', N'hotel', NULL, NULL)
INSERT [dbo].[Recinto] ([IdRecinto], [CodigoRecinto], [TipoRecinto], [TamanhoM2], [CapacidadeMaxima]) VALUES (4, N'Q-01', N'Quarentena', CAST(10.50 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Recinto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [IdFuncionario], [Login], [Senha], [NivelAcesso]) VALUES (1, 1, N'admin', N'abc', N'Admin')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__5E55825B4667D6FC]    Script Date: 18/11/2025 16:01:28 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Especie] FOREIGN KEY([IdEspecie])
REFERENCES [dbo].[Especie] ([IdEspecie])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Especie]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Recinto] FOREIGN KEY([IdRecinto])
REFERENCES [dbo].[Recinto] ([IdRecinto])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Recinto]
GO
ALTER TABLE [dbo].[ManejoClinico]  WITH CHECK ADD  CONSTRAINT [FK_Manejo_Animal] FOREIGN KEY([IdAnimal])
REFERENCES [dbo].[Animal] ([IdAnimal])
GO
ALTER TABLE [dbo].[ManejoClinico] CHECK CONSTRAINT [FK_Manejo_Animal]
GO
ALTER TABLE [dbo].[ManejoClinico]  WITH CHECK ADD  CONSTRAINT [FK_Manejo_Funcionario] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[Funcionario] ([IdFuncionario])
GO
ALTER TABLE [dbo].[ManejoClinico] CHECK CONSTRAINT [FK_Manejo_Funcionario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Funcionario] FOREIGN KEY([IdFuncionario])
REFERENCES [dbo].[Funcionario] ([IdFuncionario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Funcionario]
GO
USE [master]
GO
